anyio==4.3.0
blinker==1.7.0
certifi==2024.2.2
click==8.1.7
exceptiongroup==1.2.0
Flask==3.0.2
Flask-Cors==4.0.0
greenlet==3.0.3
h11==0.14.0
httpcore==0.17.3
httpx==0.24.1
idna==3.6
itsdangerous==2.1.2
Jinja2==3.1.3
MarkupSafe==2.1.5
pocketbase==0.10.0
sniffio==1.3.1
SQLAlchemy==2.0.28
typing_extensions==4.10.0
Werkzeug==3.0.1
